<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<style>
	.error {
		color: red;
	}	
	</style>
</head>
<body>
<h1>Please Login</h1>
<form method="POST">
	<p>Username</p>
	<input type="text" name="username">
	<span class="error">That is not a valid username</span>
	<br>
	<p>Password</p>
	<input type="password" name="password">
	<span class="error">That is not a valid password</span>
	<br>
	<p>Verify Password</p>
	<input type="password" name="vpassword">
	<span class="error">That password does not match</span>
	<br>
	<p>Enter Email</p>
	<input type="text" name="email">
	<span class="error">That is not a valid email</span>
	<br>
	<br>
	<input type="submit">
</form>
</body>
</html>