<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<style>
	.error {
		color: red;
	}	
	</style>
</head>
<body>
<h1>Please Login</h1>
<form method="POST">
	<table>
		<tbody>
			<tr>
				<td>
					<label for="username">Username</label>
				</td>
				<td>
					<input name="username" type="text" value>
					{% if cred_error %}
					<span class="error">{{cred_error}}</span>{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">Password</label>
				</td>
				<td>
					<input name="password" type="password" value>
					{% if pass_error %}
					<span class="error">{{pass_error}}</span>{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<label for="verify">Verify Password</label>
				</td>
				<td>
					<input name="verify" type="password" value>
					<span class="error"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label for="email">Email</label>
				</td>
				<td>
					<input name="email" type="text" value>
					{% if email_error %}
					<span class="error">{{email_error}}</span>{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
	<input type="submit">
</form>
</body>
</html>